{% extends "base.html" %}

{% block content %}

    <h1>Welcome to Coffebook</h1>
    <h4>Get inspired or start creating your favourite coffee recipe.</h4>
    <p>Discover recipes for..</p>
    <div class="carousel">
        <a class="carousel-item" href="{{ url_for('category', selected_category = 'Lattes') }}"><img src="/static/assets/images/latte.jpg"></a>
        <a class="carousel-item" href="{{ url_for('category', selected_category = 'Americanos') }}"><img src="/static/assets/images/americano.jpg"></a>
        <a class="carousel-item" href="{{ url_for('category', selected_category = 'Espressos') }}"><img src="/static/assets/images/espresso.jpg"></a>
        <a class="carousel-item" href="{{ url_for('category', selected_category = 'Cappucinos') }}"><img src="/static/assets/images/cappucino.jpg"></a>
    </div>

{% endblock %}