{% extends "base.html" %}

{% block content %}

    <h1>Welcome to Coffeebook</h1>
    <h4>Get inspired or start creating your favourite coffee recipe.</h4>
    <p>Discover recipes for..</p>
    <div class="carousel">
        <a class="carousel-item" href="{{ url_for('category', selected_category = 'Lattes') }}"><img
                src="/static/assets/images/latte.jpg" alt="Latte coffee"><h4>Latte</h4></a>
        <a class="carousel-item" href="{{ url_for('category', selected_category = 'Americanos') }}"><img
                src="/static/assets/images/americano.jpg" alt="americano coffee"><h4>Americano</h4></a>
        <a class="carousel-item" href="{{ url_for('category', selected_category = 'Espressos') }}"><img
                src="/static/assets/images/espresso.jpg" alt="espresso coffee"><h4>Espresso</h4></a>
        <a class="carousel-item" href="{{ url_for('category', selected_category = 'Cappuccinos') }}"><img
                src="/static/assets/images/cappucino.jpg" alt="cappuccino coffee"><h4>Cappuccino</h4></a>
    </div>

{% endblock %}